/* .........................  */
/* media query - 1300px */
/* .........................  */

@media (max-width: 1300px) {
  nav {
    margin: 2rem 5rem;
  }
}

/* ...................................  */
/* media query - 1200px */
/* ...................................  */
@media (max-width: 1200px) {
  .intro-section {
    margin: 0 5rem;
  }
}

/* .................................  */
/* media query - 800px */
/* .................................  */
@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .nav-items {
    display: none;
  }
}

/* ......................................  */
/* media query - 600px */
/* ......................................  */
@media (max-width: 600px) {
  .intro-section {
    margin: 0 4rem;
    grid-template-columns: 1fr;
  }
  .right-section,
  .left-section {
    margin: 0 3rem;
    margin-bottom: 3rem;
  }
}

/* .............................  */
/* media query - 400px */
/* .............................  */
@media (max-width: 400px) {
  .action-btn {
    font-size: 1.2rem;
    width: 12rem;
  }
  html {
    font-size: 50%;
  }
  .headphone-div .discount {
    display: none;
  }
  .dots,
  #fbutton {
    margin: 0 8rem;
  }
}

/* ....................................................  */
